src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="mule-4-application-template-api-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*" doc:name="/api">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mule-4-application-template-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f769b517-8037-47aa-ba8c-444ce4d90c4d" >
				<logger level="ERROR" doc:name="Logger" doc:id="308397a3-4958-4588-8925-44d084c0cfb6" message="Error - Error detail : #[error.description]"/>
				<ee:transform doc:name="Transform Message" doc:id="d387e996-2ea3-4562-b60e-efacdc9089ff" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	error: error.errorType,
	message:error.description
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[500]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\emails:application\json:mule-4-application-template-api-config">
        <!-- [STUDIO:"post-emails-implementation-flow"]<flow-ref doc:name="post-emails-implementation-flow" doc:id="542f142d-287e-46be-87b4-149930030706" name="post-emails-implementation-flow" /> [STUDIO] -->
		<ee:transform doc:name="Transform Message" doc:id="2ef03a97-5038-4f33-8292-68189bf9b611" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"test": "Hello"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\notifications\templates:mule-4-application-template-api-config">
        <ee:transform doc:name="NOT IMPLEMENTED" doc:id="fb9bf0e9-fa9b-4d4d-ad29-7f1ea2b7a75a">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "meta": {
    "status": "failed",
    "correlationId": correlationId,
    "messages": [
      {
        "code": "NOT_IMPLEMENTED",
        "level": "error",
        "text": "The server either does not recognize the request method, or it lacks the ability to fulfill the request."
      }
    ]
  }
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
    <flow name="post:\emails:multipart\form-data:mule-4-application-template-api-config">
        <ee:transform doc:name="NOT IMPLEMENTED">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "meta": {
    "status": "failed",
    "correlationId": correlationId,
    "messages": [
      {
        "code": "NOT_IMPLEMENTED",
        "level": "error",
        "text": "The server either does not recognize the request method, or it lacks the ability to fulfill the request."
      }
    ]
  }
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </flow>
    <flow name="post:\notifications:application\json:mule-4-application-template-api-config">
        <!-- [STUDIO:"post-notification-implementation-flow"]<flow-ref doc:name="post-notification-implementation-flow" doc:id="7eaa6dd8-1e81-4852-b0d5-a4cc33d84ea3" name="post-notification-implementation-flow" /> [STUDIO] -->
		<ee:transform doc:name="Transform Message" doc:id="329ef2f8-ca13-490a-8758-d92bd47c707c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"test": "Hello"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
